<section id="ability-scores">
<h3>Ability Scores</h3>
<table>
	<thead><th>Abi</th><th>Score</th><th>Mod</th><th>Base</th><th>Temp</th></thead>
	
	{% for attribute in character['attributes']['attribute'] %}
		<tr><td class="abi-name">{{ attribute['@name'][:3] }}</td>
			<td><span id="score-{{ attribute['@name'][:3].lower() }}" class="adj-{{ attribute['@name'] }}">
				{{ attribute['attrvalue']['@modified'] }}</span></td>
			<td><span id="mod-{{ attribute['@name'][:3].lower() }}" class="ability-mod adj-{{ attribute['@name'][:3].lower() }}" data-toggle="tooltip" data-placement="right" title="{{ attribute['situationalmodifiers']['@text'] }}">
				{{ attribute['attrbonus']['@modified'] }}</span></td>
			<td><span class="base-{{ attribute['@name'][:3].lower() }}">
				{{ attribute['attrvalue']['@modified'] }}</span></td>
			<td><span class="temp-{{ attribute['@name'][:3].lower() }}"></td>
		</tr>
	{% endfor %}
	
</table>
</section>
