<section class="active-effects abilities-collapse">
<h3>Adjustments <span class="pull-right title-button glyphicon glyphicon-plus" aria-hidden="true"data-target="#adjustmentMenu" data-toggle="modal"></span></h3> 
  <div class="panel-group" id="active-adjustments" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="adjListHeading1">
	  <h4 class="panel-title">
		  <table class="table table-resources">
			<tr><td style="width: 30px; padding-right: 5px; text-align: center;"><input type="checkbox" checked></td>
				<td><a style="padding-left: 0;" role="button" data-toggle="collapse" data-parent="#active-adjustments" href=".adjList1" aria-expanded="false" aria-controls="adjList1">Blinded</a></td>
				<td class="box-duration align-center">
					<input type="text" class="form-control input-adjduration" placeholder="duration"></td>
                <td style="width: 25px;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td></tr>
		  </table>
		</h4>
	</div>
	<div class="panel-collapse collapse adjList1" role="tabpanel" aria-labelledby="adjListHeading1">
		<div class="panel-body">
			<p>Notes could go here, editable by user.</p>
		</div>
	  </div>
	</div>

  </div>
</section>