<section id="conditions">
	<h3>Conditions</h3>
	<ul class="list-unstyled">
		<h4>Combat Modifiers</h4>
		<li><strong>Charging</strong> Double move speed, +2 to Hit, -2 AC</li>
		<li><strong>Concealment</strong> 20% miss</li>
		<li><strong>Concealment, Total</strong> 50% miss</li>
		<li><strong>Cover</strong> +4 AC, +2 Ref</li>
		<li><strong>Cover, Improved</strong> +8 AC, +4 Ref</li>
		<li><strong>Cover, Partial</strong> +2 AC, +1 Ref</li>
		<li><strong>Cover, Soft</strong> +4 AC</li>
		<li><strong>Fighting Defensively</strong> -4 To Hit, +2 AC</li>
		<li><strong>Flanking</strong> +2 Melee</li>
		<li><strong>Mounted</strong> Move speed</li>
		<li><strong>Higher Ground</strong> +1 Melee</li>
		<li><strong>Running Speed</strong> Move x3/x4 speed, no DEX bonus to AC</li>
		<li><strong>Squeezing</strong> -4 to Hit, -4 AC</li>
		<li><strong>Total Defense</strong> +4 AC</li>
	</ul>
	<!--
	Charging: x2 speed, +2 attack, -2 AC
	Concealment: (text)
	Concealment, Total: (text)
	Cover: +4 AC, +2 Ref
	Cover, Improved: +8 AC, +4 Ref
	Cover, Partial: +2 AC, +1 Ref
	Cover, Soft: +4 AC
	Fighting Defensively: -4 attack, +2 AC (or -4/+3 with 3 ranks of acrobatics)
	Flanking: +2 melee attack
	Mounted
	Higher Ground: +1 melee attack
	Running: x3 or x4 speed, -Dex to AC
	Squeezing: -4 attack, -4 AC
	
	Blinded: -2 AC, -Dex to AC
	Confused: Text
	Cowering: -2 AC, -Dex to AC
	Dazed: Text
	Dazzled: -1 attack
	Deafened: -4 initiative
	Disabled: Text
	Dying: Same as helpless
	Entangled: -2 attack, -4 dex
	Exhausted: 1/2 speed, -6 Str/Dex
	Fascinated: Text
	Fatigued: -2 Str/Dex
	Flat-Footed: -Dex to AC
	Frightened: -2 attack, saves, skill checks, ability checks
	Grappled: -2 attack/cmb, -4 Dex
	Helpless: -Dex+5 to AC
	Incorporeal: Text
	Invisible: Text
	Nauseated: Text
	Panicked: -2 saves, skill checks, ability checks
	Paralyzed: Str/Dex = 0
	Petrified: Same as nconscious
	Pinned: Speed = 0, -Dex to AC, -4 AC
	Prone: -4 melee attacks
	Shaken: -2 attack/saves/skills/ability checks
	Sickened: -2 attack/weapon damage/saves/skills/ability checks
	Stable: Same as helpless
	Staggered: Text
	Stunned: -2 AC, -Dex to AC
	Unconscious: Same as helpless
	-->
</section>