<section id="magic-items">
	<h3>Magic Items</h3>
	<table class="table magic-items equipment">
		<thead><th>Item</th><th class="align-right">Slot</th></thead>
			   
		{% for item in magic_items['normal'] %}
			<tr><td class="magicitem-name" data-toggle="modal" data-target="#magicitemCard" 
					data-name="{{ item['@name'] }}" 
					data-quantity="{{ item['@quantity'] }}" 
					data-weight="{{ item['weight']['@text'] }}" 
					data-cost="{{ item['cost']['@text'] }}" 
					data-slot="{{ item['itemslot'] }}" 
					data-description="{{ item['description']|paragrapher }}">
						{{ item['@name'] }}</td>
				<td class="align-right item-slot">
					{% if item['itemslot'] %}
						{{ item['itemslot'] }}
					{% endif %}
				</td></tr>
		{% endfor %}
		
	</table>
</section>