<section id="feat-abilities" class="abilities-collapse">
  <h3>Other Abilities</h3>
	<div class="panel-group" id="other-traits" role="tablist" aria-multiselectable="true">
	{% for ability in data["other_abilities"] %}
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="otherHeading{{ loop.index }}">
	  <h4 class="panel-title">
		{% if loop.index is equalto 1 %}
			<a role="button" data-toggle="collapse" data-parent="#other-traits" href="#otherTrait{{ loop.index }}" aria-expanded="true" aria-controls="otherTrait{{ loop.index }}">
		{% else %}
		    <a role="button" data-toggle="collapse" data-parent="#other-traits" href="#otherTrait{{ loop.index }}" aria-expanded="false" aria-controls="otherTrait{{ loop.index }}">
		{% endif %}
			{{ ability.name }}
		  </a>
	  </h4>
	</div>
	{% if loop.index is equalto 1 %}
		<div id="otherTrait{{ loop.index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="otherHeading{{ loop.index }}">
	{% else %}
		<div id="otherTrait{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="otherHeading{{ loop.index }}">
	{% endif %}
		<div class="panel-body">
			<p style="white-space: pre-wrap;">{{ ability.description }}</p>
		</div>
	  </div>
	</div>
  {% endfor %}
  </div>
</section>