<section id="saved-effects">
	<h3>Saved Effects</h3>
	<form class="effect-block form-inline" style="line-height: 2;">
		<input type="checkbox"> <b>Inspire Courage </b><span class="pull-right">Bonus <input type="number" class="effect-lv form-control" min="1" max="5" value="1"></span><p style="clear: both;">Brief description of effect or status.</p>
	</form>
	<form class="effect-block form-inline" style="line-height: 2;">
		<input type="checkbox"> <b>Bless </b><div class="pull-right"><input type="number" class="effect-lv form-control" min="1" max="1" value="1"><input type="text" class="form-duration form-control" placeholder="duration"></div><p style="clear: both;">Brief description of effect or status.</p>
	</form>
</section>