<div id="ability-scores" class="card">
    <div class="card-header">
        <h2>Ability Scores</h2>
    </div>
    <div class="card-body card-table">
        <table class="mb-1">
        	<thead><th>Abi</th><th>Score</th><th>Mod</th><th>Temp</th></thead>
        	{% for attribute in character['attributes']['attribute'] %}
        		<tr><td class="abi-name">{{ attribute['@name'][:3] }}</td>
        			<td><span id="score-{{ attribute['@name'][:3].lower() }}" class="adj-{{ attribute['@name'] }}">
        				{{ attribute['attrvalue']['@modified'] }}</span></td>
        			<td><span id="mod-{{ attribute['@name'][:3].lower() }}" class="ability-mod adj-{{ attribute['@name'][:3].lower() }}" data-toggle="tooltip" data-placement="right" title="{{ attribute['situationalmodifiers']['@text'] }}">
        				{{ attribute['attrbonus']['@modified'] }}</span></td>
        			<td><span class="temp-{{ attribute['@name'][:3].lower() }}"></td>
        		</tr>
        	{% endfor %}
        </table>
    </div>
</div>
