<section id="active-effects" class="abilities-collapse">
<h3>Active Effects</h3>
<div class="panel-group" id="active-abilities" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="abilityListHeading1">
	  <h4 class="panel-title">
		  <table class="table table-resources">
			<tr><td style="width: 30px; padding-right: 5px; text-align: center;"><input type="checkbox" checked></td>
				<td><a style="padding-left: 0;" role="button" data-toggle="collapse" data-parent="#active-abilities" href=".abilityList1" aria-expanded="false" aria-controls="abilityList1">Bless</a></td>
				<td class="box-duration align-center">
					<input type="text" class="form-control input-adjduration" placeholder="duration" value="2 minutes"></td></tr>
		  </table>
		</h4>
	</div>
	<div class="panel-collapse collapse abilityList1" role="tabpanel" aria-labelledby="abilityListHeading1">
		<div class="panel-body">
			<p>Notes could go here, editable by user.</p>
		</div>
	  </div>
	</div>

  </div>
</section>