{% if character['defenses']['armor'] and not character['defenses']['armor']['@natural'] %}
	<section id="armor">
		<h3>Armor</h3>
		<table class="table equipment">
			<thead><th></th><th>Armor</th><th class="align-center">AC</th></thead>
			{% if character['defenses']['armor'] is not mapping %}
				{% for armor in character['defenses']['armor'] %}
					{% if not armor['@natural'] %}
						<tr><td class="armor-equipped">
								{% if armor['@equipped'] %}
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
								{% endif %}
							</td>
							<td class="armor-name" data-toggle="modal" data-target="#armorCard" 
								data-name="{{ armor['@name'] }}" 
								data-itemslot="{{ armor['itemslot'] }}" 
								data-ac="{{ armor['@ac'] }}" 
								data-weight="{{ armor['weight']['@text'] }}" 
								data-cost="{{ armor['cost']['@text'] }}"  
								data-description="{{ armor['description']|paragrapher }}">
									{{ armor['@name'] }}</td>
							<td class="align-center">{{ armor['@ac'] }}</td></tr>
					{% endif %}
				{% endfor %}
			{% else %}
				{% if not character['defenses']['armor']['@natural'] %}
					<tr><td>{{ character['defenses']['armor']['@name'] }}</td>
						<td class="align-center">{{ character['defenses']['armor']['@ac'] }}</td></tr>
				{% endif %}
			{% endif %}
		</table>
	</section>
{% endif %}

<!-- Modal -->
<div class="modal fade detailCard" id="armorCard" tabindex="-1" role="dialog" aria-labelledby="armorName">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="armorName"></h4>
      </div>
      <div class="modal-body">
		<div id="armorDescription"></div>
      </div>
      <div class="modal-footer">
		<p style="text-align: left;"><b>Cost</b> <span id="armorCost"></span>
		<span class="pull-right"><b>Weight</b> <span id="armorWt"></span></span></p>
      </div>
    </div>
  </div>
</div>