<div class="card">
    <div class="card-header">
        <h2>Attacks</h2>
    </div>
    <div class="card-body card-table">
        <table id="key-stats" class="table table-sm">
            <thead><th class="text-center">Init</th><th class="text-center">Speed</th>
                   <th class="text-center">BAB</th><th class="text-center">CMB</th></thead>
            <tr class="text-center">
                <td id="initiative" class="adj-{{ character['initiative']['@attrname'][:3].lower() }}" data-toggle="tooltip" data-placement="bottom" title="{{ character['initiative']['situationalmodifiers']['@text'] }}">{{ character['initiative']['@total'] }}</td>
                <td id="speed" data-base="{{ character['movement']['basespeed']['@value'] }}">{{ character['movement']['speed']['@value'] }} ft</td>
                <td id="base-attack">{{ character['attack']['@baseattack'] }}</td>
                <td id="cmb" class="adj-str" data-toggle="tooltip" data-placement="bottom" title="{{ character['maneuvers']['situationalmodifiers']['@text'] }}">{{ character['maneuvers']['@cmb'] }}</td>
            </tr>
        </table>
    </div>
    <div class="list-group list-group-flush">
        {% for attack in character['melee']['weapon']|mergelists( character['ranged']['weapon'] ) %}
            <div class="list-group-item attack-item">
                <h5 class="weapon-name mb-2 card-title">
                    {{ attack['@name'] }}
                </h5>

                <h6 class="weapon-type card-subtitle mb-2 font-italic text-muted">
                    {% if attack['wepcategory'] is string %}
                        {% if 'Projectile' in attack['wepcategory'] %}
                            {{ attack['wepcategory'] }} ({{ attack['rangedattack']['@rangeinctext'] }} range)
                        {% else %}
                            {{ attack['wepcategory'] }}
                        {% endif %}
                    {% else %}
                        {% for c in attack['wepcategory'] %}
                            {% if 'Thrown' in c %}
                                {{ c }} (<span class="ranged-attack adj-dex">{{ attack['rangedattack']['@attack'] }}</span>,
                                {{ attack['rangedattack']['@rangeinctext'] }} range){% if loop.index != loop.length %},{% endif %}
                            {% elif 'Projectile' in c %}
                                {{ c }} ({{ attack['rangedattack']['@rangeinctext'] }} range){% if loop.index != loop.length %},{% endif %}
                            {% else %}
                                {{ c }}{% if loop.index != loop.length %},{% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </h6>

                <div class="mb-1 d-flex w-100 justify-content-between text-center">
                    <div>
                        <p class="font-weight-bold m-0 small text-uppercase">Attack</p>
                        {% if 'Melee' in attack['@categorytext'] %}
                            <p class="weapon-bonus melee-attack m-0">
                        {% elif 'Ranged' in attack['@categorytext'] %}
                            <p class="weapon-bonus ranged-attack m-0">
                        {% else %}
                            <p class="weapon-bonus m-0">
                        {% endif %}
                        {{ attack['@attack'] }}</p>
                    </div>
                    <div>
                        <p class="font-weight-bold m-0 small text-uppercase">Damage</p>
                        <p class="weapon-damage m-0">{{ attack['@damage'] }}</p>
                    </div>
                    <div>
                        <p class="font-weight-bold m-0 small text-uppercase">Type</p>
                        <p class="weapon-type m-0">{{ attack['@typetext'] }}</p>
                    </div>
                    <div>
                        <p class="font-weight-bold m-0 small text-uppercase">Critical</p>
                        <p class="weapon-crit m-0">{{ attack['@crit'] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
