<section>
	<h3>Characteristics</h3>
		<h4 class="bold-heading">Personality Traits</h4>
		<p style="white-space: pre-wrap;">{{ data["character"].personality_traits }}</p>
		<h4 class="bold-heading">Ideals</h4>
		<p style="white-space: pre-wrap;">{{ data["character"].ideals }}</p>
		<h4 class="bold-heading">Bonds</h4>
		<p style="white-space: pre-wrap;">{{ data["character"].bonds }}</p>
		<h4 class="bold-heading">Flaws</h4>
		<p style="white-space: pre-wrap;">{{ data["character"].flaws }}</p>
</section>