<div id="base" class="card">
    <div class="card-header">
        <h2>Defense</h2>
    </div>
    <div id="defenses" class="card-body d-flex w-100 pt-2 justify-content-center text-center">
        <div class="defense-stat d-flex justify-content-between">
            <h5 class="armor-class font-weight-bold mr-3">AC</h5>
            <h6 id="ac" class="armor-class adj-dex" data-toggle="tooltip" data-placement="bottom" title="Touch: {{ character['armorclass']['@touch'] }}, Flatfooted: {{ character['armorclass']['@flatfooted'] }} {{ character['armorclass']['situationalmodifiers']['@text'] }}">
                {{ character['armorclass']['@ac'] }}
            </h6>
        </div>
        <div class="defense-stat d-flex justify-content-between">
            <h5 class="armor-class font-weight-bold mr-3">CMD</h5>
            <h6 id="cmd" class="armor-class adj-str adj-dex" data-toggle="tooltip" data-placement="bottom" title="Flatfooted: {{ character['maneuvers']['@cmdflatfooted'] }} {{ character['maneuvers']['situationalmodifiers']['@text'] }}">
                {{ character['maneuvers']['@cmd'] }}
            </h6>
        </div>
    </div>
    <div id="saving-throws" class="card-body d-flex w-100 pt-2 justify-content-center text-center">
        {% for save in character['saves']['save'] %}
            <div class="defense-stat">
                <h5 class="armor-class font-weight-bold">{{ save['@abbr'] }}</h5>
                <h6 id="{{ save['@name'].lower() }}" data-toggle="tooltip" data-placement="right" title="{{ save['situationalmodifiers']['@text'] }}" class="armor-class
                    {% if save['@abbr'] == 'Fort' %}
                        adj-con"
                    {% elif save['@abbr'] == 'Ref' %}
                        adj-ref"
                    {% elif save['@abbr'] == 'Will' %}
                        adj-will"
                    {% endif %}
                >{{ save['@save'] }}</h6>
            </div class="defense-stat">
        {% endfor %}
    </div>
</div>
