<section id="gear">
	<h3>Adventuring Gear</h3>
	<table class="table table-gear equipment">
		<thead><th class="align-center">Qty</th><th>Item</th>
			   <th class="align-right">Wt</th></thead>	   
		{% for item in character['gear']['item']|removefromlist( character['melee']['weapon'], character['ranged']['weapon'], character['defenses']['armor'] ) %}
			<tr><td class="align-center gear-qty">{{ item['@quantity'] }}</td>
				<td class="gear-name" data-toggle="modal" data-target="#gearCard" data-name="{{ item['@name'] }}" data-cost="{{ item['cost']['@text'] }}" data-weight="{{ item['weight']['@text'] }}" data-description="{{ item['description']|paragrapher }}">{{ item['@name']|replace(' (empty)', '') }}</td>
				<td class="gear-weight align-right">{{ item['weight']['@text'] }}</td></tr>
		{% endfor %}
	</table>
</section>