<div class="card">
    <div class="card-header">
        <h2>Languages</h2>
    </div>
    <div class="card-body">
        <p class="mb-0">
    		{% if character['languages']['language'] is not mapping %}
    			{% for language in character['languages']['language'] %}
                    {% if ',' in language['@name'] %}
                        {{ language['@name']|replace(', ', ' (') }}){% if loop.index != loop.length %}, {% endif %}
                    {% else %}
			            {{ language['@name'] }}{% if loop.index != loop.length %}, {% endif %}
                    {% endif %}
    			{% endfor %}
    		{% else %}
    			{{ character['languages']['language']['@name'] }}
    		{% endif %}
        </p>
	</div>
</div>
