<section>
	<h3>Characteristics</h3>
	<dl id="character-details" class="horizontal-dl">
		<dt>Type</dt><dd>{{ character['types']['type']['@name'] }}
			{% if character['subtypes']['subtype'] %}
				 (
				{% if character['subtypes']['subtype'] is not mapping %}
					{% for subtype in character['subtypes']['subtype'] %}
						{% if loop.index != loop.length %}
							{{ subtype['@name'] }}, 
						{% else %}
							{{ subtype['@name'] }} )
						{% endif %}
					{% endfor %}
				{% else %}
					{{ character['subtypes']['subtype']['@name'] }} )
				{% endif %}
			{% endif %}
		</dd>
		<dt>Alignment</dt><dd>{{ character['alignment']['@name'] }}</dd>
		<dt>Deity</dt><dd>{{ character['deity']['@name'] }}</dd>
		<dt>Size</dt><dd>{{ character['size']['@name'] }} ({{ character['size']['space']['@text'] }} space / {{ character['size']['reach']['@text'] }} reach)</dd>
	</dl>
	  <table id="physical-description1" class="physical-description">
		<thead><th>Gender</th><th>Age</th><th>Height</th><th>Weight</th></thead>
		<tr><td>{{ character['personal']['@gender'] }}</td>
			<td>{{ character['personal']['@age'] }}</td>
			<td>{{ character['personal']['charheight']['@text'] }}</td>
			<td>{{ character['personal']['charweight']['@text'] }}</td></tr>
	  </table>
	  <table id="physical-description2" class="physical-description">
		<thead>
			{% if character['personal']['@hair'] %}
				<th>Hair</th>
			{% endif %}
			{% if character['personal']['@eyes'] %}
				<th>Eyes</th>
			{% endif %}
			{% if character['personal']['@skin'] %}
				<th>Skin</th>
			{% endif %}
		</thead>
		<tr>
		{% if character['personal']['@hair'] %}
			<td>{{ character['personal']['@hair'] }}</td>
		{% endif %}
		{% if character['personal']['@eyes'] %}
			<td>{{ character['personal']['@eyes'] }}</td>
		{% endif %}
		{% if character['personal']['@skin'] %}
			<td>{{ character['personal']['@skin'] }}</td>
		{% endif %}
		</tr>
	</table>
</section>