<div id="skills" class="card">
    <div class="card-header">
        <h2>Skills</h2>
    </div>
    <div class="card-body card-table">
        <table class="table table-striped table-sm">
            <thead>
                <th class="text-center">Total</th>
        		<th class="skill-name">Skill</th>
        		<th class="skill-abi">Abi</th>
            </thead>

            {% for s in character['skills']['skill'] %}
        		{% if s['@ranks'] != '0' or ( s['@ranks'] == '0' and not s['@trainedonly']) %}
        			<tr><td id="bonus-{{ s['@name'] }}" class="skill-bonus adj-{{ s['@attrname'] }}"
        					data-toggle="tooltip" data-placement="top" title="{{ s['situationalmodifiers']['@text'] }}">
        					{{ s['@value'] }}
        				</td>
        				<td id="name-{{ s['@name'] }}" class="skill-name">{{ s['@name'] }}</td>
        				<td id="ability-{{ s['@name'] }}" class="skill-abi">{{ s['@attrname'] }}</td></tr>
        		{% endif %}
        	{% endfor %}
        </table>
    </div>
</div>
