<div id="special-abilities" class="card abilities">
    <div class="card-header">
        <h2>Special Abilities</h2>
    </div>
    <div class="list-group list-group-flush">
        {% for abi in ( character['otherspecials']['special']|mergelists(character['skillabilities']['special'], character['health']['special'], character['attack']['special']) )|removefromlist( character['trackedresources']['trackedresource'], character['gear']['item'], character['magicitems']['item'] ) %}
            <a href="#specialAbility{{ loop.index }}" data-toggle="collapse" aria-expanded="false" aria-controls="specialAbility{{ loop.index}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <span>{{ abi['@name'] }}</span>
                    <span class="text-muted font-italic text-right">{{ abi['@sourcetext'] }}</span>
                </div>
            </a>
            <div class="collapse abilityCollapse" id="specialAbility{{ loop.index }}">
                {{ abi['description']|paragrapher|safe }}
            </div>
        {% endfor %}
    </div>
</div>
