<div class="card">
    <div class="card-header">
        <h2>Special</h2>
    </div>

    <ul class="list-group list-group-flush">
        {% if character['senses']['special'] %}
        <li class="list-group-item">
            <b>Senses</b>
            {% for sense in character['senses']['special']|makelist %}
                {% if not loop.last %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ sense['description'] }}">{{ sense['@name'] }}</span>,
                {% else %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ sense['description'] }}">{{ sense['@name'] }}</span>
                {% endif %}
            {% endfor %}
        </li>
        {% endif %}

        {% if character['damagereduction']['special'] %}
        <li class="list-group-item">
            <b>DR</b>
            {% for dr in character['damagereduction']['special']|makelist %}
                {% if not loop.last %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ dr['description'] }}">{{ dr['@shortname'] }}</span>,
                {% else %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ dr['description'] }}">{{ dr['@shortname'] }}</span>
                {% endif %}
            {% endfor %}
        </li>
        {% endif %}

        {% if character['immunities']['special'] %}
        <li class="list-group-item">
            <b>Immunities</b>
            {% for immunity in character['immunities']['special']|makelist %}
                {% if not loop.last %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ immunity['description'] }}">{{ immunity['@shortname'] }}</span>,
                {% else %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ immunity['description'] }}">{{ immunity['@shortname'] }}</span>
                {% endif %}
            {% endfor %}
        </li>
        {% endif %}

        {% if character['resistances']['special'] %}
        <li class="list-group-item">
            <b>Resistances</b>
            {% for resistance in character['resistances']['special']|makelist %}
                {% if not loop.last %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ resistance['description'] }}">{{ resistance['@shortname'] }}</span>,
                {% else %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ resistance['description'] }}">{{ resistance['@shortname'] }}</span>
                {% endif %}
            {% endfor %}
        </li>
        {% endif %}

        {% if character['weaknesses']['special'] %}
        <li class="list-group-item">
            <b>Weaknesses</b>
            {% for weakness in character['weaknesses']['special']|makelist %}
                {% if not loop.last %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ weakness['description'] }}">{{ weakness['@shortname'] }}</span>,
                {% else %}
                    <span data-toggle="tooltip" data-placement="top" title="{{ weakness['description'] }}">{{ weakness['@shortname'] }}</span>
                {% endif %}
            {% endfor %}
        </li>
        {% endif %}
    </ul>
</div>
