<section id="special-abilities" class="abilities-collapse">
	<h3>Special Abilities</h3>
	<div class="panel-group" id="spabilities" role="tablist" aria-multiselectable="true">
  {% for abi in ( character['otherspecials']['special']|mergelists(character['skillabilities']['special'], character['health']['special']) )|removefromlist( character['trackedresources']['trackedresource'], character['gear']['item'], character['magicitems']['item'] ) %}
	<div class="panel panel-default">
	  <div class="panel-heading" role="tab" id="spAbilityHeading{{ loop.index }}">
	  <h4 class="panel-title">
		<table class="table table-feats">
			<tr><td><a role="button" data-toggle="collapse" data-parent="#spabilities" href="#spAbility{{ loop.index }}" aria-expanded="false" aria-controls="spAbility{{ loop.index }}">{{ abi['@name'] }}</a></td>
				{% if abi['@sourcetext'] %}
					<td class="feat-category">{{ abi['@sourcetext'] }}</td>
				{% endif %}
			</tr>
		</table>
	  </h4>
	</div>
	<div id="spAbility{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="spAbilityHeading{{ loop.index }}">
		<div class="panel-body">
			<p>{{ abi['description']|paragrapher|safe }}</p>
		</div>
	</div>
	</div>
  {% endfor %}

  </div>
</section>