<div id="summary-card" class="card">
    <div class="card-header">
        <h2>{{ key_stats['name'] }}</h2>
    </div>
    <div id="character-details" class="card-body">
        <p class="m-0 text-capitalize">
            {{ character['classes']['@summary']|replace('/', '<br>')|safe }}
        </p>
    </div>
    <div class="card-footer text-center text-muted py-2">
        {{ '{:,}'.format( character['xp']['@total']|int ) }} XP /
        {% if 'Slow Advancement' in character['settings']['@summary'] %}
            {{ '{:,}'.format( advancement['slow'][ character['classes']['@level']|int ] ) }} XP
        {% elif 'Medium Advancement' in character['settings']['@summary'] %}
            {{ '{:,}'.format( advancement['medium'][ character['classes']['@level']|int ] ) }} XP
        {% elif 'Fast Advancement' in character['settings']['@summary'] %}
            {{ '{:,}'.format( advancement['fast'][ character['classes']['@level']|int ] ) }} XP
        {% endif %}
    </div>
</div>
