<div id="tracked-resources" class="card abilities">
    <div class="card-header">
        <h2 class="d-flex w-100 justify-content-between">
            <span>Tracked Resources</span>
            <div class="dropdown">
                <span id="trackedAbiMenu" class="dropdown-toggle pull-right glyphicon glyphicon-cog" data-toggle="dropdown" aria-haspopup="true" aria-hidden="true"></span>
                <ul class="dropdown-menu" aria-labelledby="trackedAbiMenu">
                    <li><a id="tracked-reset" href="#" style="text-transform: lowercase;">Reset all daily abilities</a></li>
                </ul>
            </div>
        </h2>
    </div>
    <div class="list-group list-group-flush">
        {% for abi in character['trackedresources']['trackedresource']|removefromlist(magic_items['consumables']) %}{% if abi['@name']|getdescription( character['otherspecials']['special'], character['gear']['item'], character['magicitems']['item'], character['attack']['special'], character['spelllike']['special'] ) != "Description." %}
            <a href="#trackedAbility{{ loop.index }}" data-toggle="collapse" aria-expanded="false" aria-controls="trackedAbility{{ loop.index}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <span>{{ abi['@name'] }}</span>
                    <span class="text-muted font-italic">
                        <span id="trackedless{{ loop.index }}" aria-hidden="true">&lsaquo;</span>
    					{% if '/day' in abi['@name'] %}
    						<span id="remaininguses{{ loop.index }}" class="tracked-remaining daily-ability">
    					{% else %}
    						<span id="remaininguses{{ loop.index }}" class="tracked-remaining">
    					{% endif %}
    					{{ abi['@left']|int }}</span> / <span id="maxuses{{ loop.index }}">{{ abi['@max']|int }}</span>
    					<span id="trackedmore{{ loop.index }}" aria-hidden="true">&rsaquo;</span>
                    </span>
                </div>
            </a>
            <div class="collapse abilityCollapse" id="trackedAbility{{ loop.index }}">
                {{ abi['@name']|getdescription( character['otherspecials']['special'], character['gear']['item'], character['magicitems']['item'], character['attack']['special'], character['spelllike']['special'] )|paragrapher|safe }}
            </div>
        {% endif %}{% endfor %}
    </div>
</div>
