{% if character['melee']['weapon'] or character['ranged']['weapon'] %}
<section id="weapons">
	<h3>Weapons</h3>
	<table class="table equipment">
		<thead><th>Weapon</th><th class="align-center">Qty</th></thead>
		{% for weapon in character['melee']['weapon']|mergelists( character['ranged']['weapon'] ) %}
			<tr>
              <td class="weapon-name" data-toggle="modal" data-target="#weaponCard" 
					data-name="{{ weapon['@name'] }}" 
					data-category="{{ weapon['@categorytext'] }}" 
					data-type="{{ weapon['@typetext'] }}" 
					data-crit="{{ weapon['@crit'] }}" 
					data-damage="{{ weapon['@damage'] }}" 
					data-quantity="{{ weapon['@quantity'] }}" 
					data-weight="{{ weapon['weight']['@text'] if weapon['weight'] else '' }}" 
					data-cost="{{ weapon['cost']['@text'] if weapon['cost'] else '' }}" 
					data-description="{{ weapon['description']|paragrapher }}">
						{{ weapon['@name'] }}</td>
				<td class="align-center">{{ weapon['@quantity'] }}</td>
            </tr>
		{% endfor %}
	</table>
</section>
{% endif %}