{% if spellLists %}
<div class="container-fluid content">
    <div class="row"><div class="col-12">
        <div class="card">
            <div class="card-header">
                {% if spellLists|length > 1 %}
                <ul id="spell-tabs" class="nav nav-tabs card-header-tabs" role="tablist">
                	{% for ck, cv in spellLists.iteritems() %}
            			<li class="nav-item">
                			<a id="{{ ck }}-tab" data-toggle="tab" href="#spellpage-{{ ck }}"
                                    aria-controls="spellpage-{{ ck }}"
                                    class="nav-link spellclass{% if loop.index == 1 %} active{% endif %}"
                                    aria-selected="{% if loop.index == 1 %}true{% else %}false{% endif %}">
                                {{ ck }}
                            </a>
                        </li>
                	{% endfor %}
                </ul>
                {% else %}
                    <h2>{{ spellLists.keys()|first }}</h2>
                {% endif %}
            </div>
            <div class="card-body tab-content card-table">
            	{% for classkey, classvalue in spellLists.iteritems() %}
                    <div class="tab-pane {% if loop.index == 1%} active{% endif %}"
                            id="spellpage-{{ classkey }}" role="tab-panel" aria-labelledby="{{ classkey }}-tab">
                		{% set class_details = character['classes']['class']|getbyname( classkey ) %}
                		{% set caster_details = character['spellclasses']['spellclass']|getbyname( classkey ) %}

                        {% include '/character/module/spellcasting.html' %}
                	    {% include '/character/module/spell_list.html' %}
                    </div>
            	{% endfor %}
            </div>
        </div>
    </div></div><!-- col row -->
</div><!-- container -->

<!-- Modal -->
<div class="modal fade detailCard" id="spellCard" tabindex="-1" role="dialog" aria-labelledby="spellName" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="spellName">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="spellTable" class="table table-borderless"></table>
        		<div id="spellDescription"></div>
            </div>
            <div class="modal-footer d-flex w-100 justify-content-between">
                <p id="spellLv" class="m-0"></p>
                <p id="spellComponents" class="m-0"></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
