<div class="container-fluid content">
    <div class="row">

	    <div class="col-lg-3 col-md-4 col-sm-6">
			{% include '/character/module/base_stats.html' %}
			{% include '/character/module/special.html' %}
	    </div>

	    <div class="col-lg-3 col-md-4 col-sm-6">
		    {% include '/character/module/ability_scores.html' %}
			{% include '/character/module/attacks.html' %}
	    </div>

	    <div class="col-lg-3 col-md-4 col-sm-6">
		    {% include '/character/module/skills.html' %}
	    </div>

	    <div class="col-lg-3 visible-lg-block">
		    {% include '/character/module/summary.html' %}
	    </div>

    </div><!-- row -->
</div><!-- container -->