<div class="container-fluid content">
    <div class="row">

	    <div class="col-lg-3 col-md-4 col-sm-6">
			{% include '/character/module/weapons.html' %}
			{% include '/character/module/armor.html' %}
			{% include '/character/module/money.html' %}
			{% include '/character/module/carrying_capacity.html' %}
	    </div>

	    <div class="col-lg-3 col-md-4 col-sm-6">
		    {% include '/character/module/gear.html' %}
	    </div>

	    <div class="col-lg-3 col-md-4 col-sm-6">
		    {% include '/character/module/magic_items.html' %}
	    </div>

	    <div class="col-lg-3 visible-lg-block">
		    {% include '/character/module/magic_consumables.html' %}
		    
	    </div>

    </div><!-- row -->
</div><!-- container -->