<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Character Sheet</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var adjSkills = {};
        {% for skill in character['skills']['skill'] %}
            adjSkills["{{ skill['@name'] }}"] = 0;
        {% endfor %}
    </script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="fixed-nav" class="container-fluid" style="background-color: #E8E8E8;">
    <div class="row">
        <!-- Nav tabs -->
        <ul id="character-sheet-nav" class="nav nav-tabs" role="tablist">
            <hgroup id="character-name">
				<h1 class="display-4 ml-2 mr-3 mb-0" data-id="{{ id }}">{{ character['@name'] }}</h1>
				<h2 class="ml-2 mr-3 mb-0">{{ character['race']['@name'] }} {{ character['classes']['@summary'] }}</h2>
			</hgroup>
            <li class="nav-item">
                <a class="nav-link active" href="#character" aria-controls="character" data-toggle="tab" role="tab">Character</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#abilities" aria-controls="abilities" data-toggle="tab" role="tab">Abilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#equipment" aria-controls="equipment" data-toggle="tab" role="tab">Equipment</a>
            </li>
            <li id="sorcery-tab" class="nav-item">
                <a class="nav-link" href="#personal" aria-controls="personal" data-toggle="tab" role="tab">Personal</a>
            </li>
            {% if character['spellclasses']['spellclass'] %}
            <li class="nav-item">
                <a class="nav-link" href="#spells" aria-controls="spells" data-toggle="tab" role="tab">Spells</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<div id="character-contents" class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="character">
		{% include '/character/character-overview.html' %}
	</div>
	<div role="tabpanel" class="tab-pane" id="abilities">
		{% include '/character/character-abilities.html' %}
	</div>
	<div role="tabpanel" class="tab-pane" id="equipment">
		{% include '/character/character-equipment.html' %}
	</div>
	<div role="tabpanel" class="tab-pane" id="personal">
		{% include '/character/character-personal.html' %}
    </div>
	<div role="tabpanel" class="tab-pane" id="spells">
		{% include '/character/character-spells.html' %}
	</div>
</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<!--<script type="text/javascript" src="/static/js/jquery.sortable.js"></script>
<script>
	$('.sortable').sortable();
</script>-->
</body>
</html>
