<div class="container-fluid content">
    <div class="row">

	    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
			{% include '/character/module/special_abilities.html' %}
	    </div>

	    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
			{% include '/character/module/tracked_resources.html' %}
	    </div>

	    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
		    {% include '/character/module/feats.html' %}
	    </div>

       <div class="col-xl-3 visible-lg-block">

       </div>

    </div><!-- row -->
</div><!-- container -->
