<div class="container-fluid content">
    <div class="row">

	    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
			{% include '/character/module/ability_scores.html' %}
            {% include '/character/module/defenses.html' %}
			{% include '/character/module/special.html' %}
	    </div>

	    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
			{% include '/character/module/attacks.html' %}
	    </div>

	    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
		    {% include '/character/module/skills.html' %}
	    </div>

	    <div class="col-xl-3 col-sm-6 d-none d-sm-block d-md-none d-xl-block">
		    {% include '/character/module/special_abilities.html' %}
            {% include '/character/module/feats.html' %}
	    </div>

    </div><!-- row -->
</div><!-- container -->
