{% extends "base.html" %}
{% block content %}

<div class="col-md-12">
    <div class="d-flex w-100 justify-content-between mb-2">
        <h1 class="mb-0">{{ title }}</h1>
        <a href="{{ url_for('adjustment_new') }}" class="btn btn-success btn-lg">New</a>
    </div>
</div>
<div class="col-md-12">
	<table class="table table-striped">
		<thead><th>Name</th><th>Category</th><th>Description</th></thead>
		{% for adj in adjustments %}
			<tr class="caps">
                <td><a href="{{ url_for('adjustment', id=adj.id) }}">{{ adj.name }}</a></td>
				<td>{{ adj.category }}</td>
                <td style="overflow: hidden;">
                    {{ adj.description[0:100] }}{% if adj.description|length > 100 %}...{% endif %}
                </td>
			</tr>
		{% endfor %}
	</table>
</div><!-- .col-md-12 -->

{% endblock %}
