{% extends "base.html" %}
{% block content %}

<div class="col-md-12">
    <h1>{{ title }}</h1>
    <form action="" method="post" name="edit">
        {{ form.hidden_tag() }}
        <div class="form-row">
    		<div class="form-group col-sm-6">
    			{{ form.name.label }}
    			{{ form.name(maxlength=140, class_="form-control") }}
    		</div>
    		<div class="form-group col-sm-6">
    			{{ form.category.label }}
    			{{ form.category(maxlength=140, class_="form-control") }}
    		</div>
        </div>
		<!-- Description -->
		<div class="form-group">
			{{ form.description.label }}
			{{ form.description(rows=10, class_="form-control") }}
		</div>
		<div class="form-row">
			<div class="form-group col-6 col-sm-4 col-md-3 col-lg-2">
                <h5>Ability Scores</h5>

				{{ form.adjStrength.label }}
				{{ form.adjStrength(class_="form-control mb-2") }}

                {{ form.adjDexterity.label }}
                {{ form.adjDexterity(class_="form-control mb-2") }}

                {{ form.adjConstitution.label }}
                {{ form.adjConstitution(class_="form-control mb-2") }}

                {{ form.adjIntelligence.label }}
                {{ form.adjIntelligence(class_="form-control mb-2") }}

                {{ form.adjWisdom.label }}
                {{ form.adjWisdom(class_="form-control mb-2") }}

                {{ form.adjCharisma.label }}
                {{ form.adjCharisma(class_="form-control mb-2") }}
			</div>
			<div class="form-group col-6 col-sm-4 col-md-3 col-lg-2">
                <h5>Ability Checks</h5>

				{{ form.adjAbiCheck.label }}
				{{ form.adjAbiCheck(class_="form-control mb-2") }}

                {{ form.adjStrCheck.label }}
				{{ form.adjStrCheck(class_="form-control mb-2") }}

                {{ form.adjDexCheck.label }}
				{{ form.adjDexCheck(class_="form-control mb-2") }}

                {{ form.adjConCheck.label }}
                {{ form.adjConCheck(class_="form-control mb-2") }}

                {{ form.adjIntCheck.label }}
                {{ form.adjIntCheck(class_="form-control mb-2") }}

                {{ form.adjWisCheck.label }}
                {{ form.adjWisCheck(class_="form-control mb-2") }}

                {{ form.adjChaCheck.label }}
                {{ form.adjChaCheck(class_="form-control mb-2") }}
			</div>
			<div class="form-group col-6 col-sm-4 col-md-3 col-lg-2">
                <h5>Attack Rolls</h5>

                {{ form.adjAttack.label }}
				{{ form.adjAttack(class_="form-control mb-2") }}

                {{ form.adjMelee.label }}
                {{ form.adjMelee(class_="form-control mb-2") }}

                {{ form.adjRanged.label }}
				{{ form.adjRanged(class_="form-control mb-2") }}

                {{ form.adjCMB.label }}
				{{ form.adjCMB(class_="form-control mb-2") }}
			</div>
			<div class="form-group col-6 col-sm-4 col-md-3 col-lg-2">
                <h5>Defenses</h5>

                {{ form.adjDef.label }}
				{{ form.adjDef(class_="form-control mb-2") }}

                {{ form.adjAC.label }}
				{{ form.adjAC(class_="form-control mb-2") }}

                {{ form.adjCMD.label }}
				{{ form.adjCMD(class_="form-control mb-2") }}

                <div class="form-check" style="margin-top: 45px;">
                    {{ form.flatfooted(class_="form-check-input") }}
                    {{ form.flatfooted.label(class_="form-check-label") }}
                </div>
			</div>
			<div class="form-group col-6 col-sm-4 col-md-3 col-lg-2">
                <h5>Saving Throws</h5>

                {{ form.adjSaves.label }}
				{{ form.adjSaves(class_="form-control mb-2") }}

                {{ form.adjFort.label }}
				{{ form.adjFort(class_="form-control mb-2") }}

                {{ form.adjRef.label }}
				{{ form.adjRef(class_="form-control mb-2") }}

                {{ form.adjWill.label }}
				{{ form.adjWill(class_="form-control mb-2") }}
			</div>
			<div class="form-group col-6 col-sm-4 col-md-3 col-lg-2">
                <h5>Miscellaneous</h5>

                {{ form.adjSkills.label }}
				{{ form.adjSkills(class_="form-control mb-2") }}

                {{ form.adjInit.label }}
				{{ form.adjInit(class_="form-control mb-2") }}

                {{ form.adjSpeed.label }}
				{{ form.adjSpeed(class_="form-control mb-2") }}
			</div>
		</div>
        {{ form.save(class_="btn btn-success btn-lg") }}
    </form>
</div>
{% endblock %}
