{% extends "base.html" %}
{% block content %}

<div class="col-md-12">
    <h1>{{ title }}<a class="btn btn-lg btn-success pull-right" href="{{ url_for('upload') }}">Upload New Character</a></h1>
	<br>
</div>
{% for char in data['characters'] %}
	<div class="col-xs-6 col-sm-4 col-md-3">
	  <article id="character-{{ char.name }}" class="character-summary">
		<div class="thumbnail" style="border-radius: 6px;">
			<a href="{{ url_for('character', userid=user.username, id=char.id) }}"><img src="{{ char.image }}" style="border-radius: 3px;" alt="{{ char.name }}"></a>
			<div class="caption">
				<hgroup style="height: 50px;">
					<h3><a href="{{ url_for('character', userid=user.username, id=char.id) }}">
					{{ char.name }}</a></h3>
					<h4 class="summary-details">{{ char.race }} {{ char.classes }}</h4>
				</hgroup>
				<p class="summary-buttons"><a href="{{ url_for('edit_char', userid=user.username, id=char.id) }}" class="btn btn-primary" role="button">Edit</a>
					<a href="{{ url_for('delete_character', userid=user.username, id=char.id) }}" class="btn btn-default" role="button">Delete</a></p>
			</div><!-- .caption -->
		</div><!-- .thumbnail -->
	  </article>
	</div><!-- .col-sm-6 -->
{% endfor %}

{% endblock %}
